*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body{
    background: url("img/Wallpaper.png");
    color: white;
    font-family: 'Roboto', sans-serif;
}
#game{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
    height: auto;
    display: table;
}
#shop{
  background: rgb(65, 65, 65);
  font-size: 32px;
  position: fixed;
  overflow-y: auto;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 25%;
}
.counter{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-family: 'Purpose', Fallback, sans-serif !important;
    background: rgba(255, 255, 255, 0.35);
}
.cookie{
    margin: 0;
    width: 300px;
    height: 300px;
    transform: scale(0.96);
    transition: 0.1s;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    border-radius: 30%;
    position: relative;
    padding: 0;
}
.active{
    transform: scale(1);
}
.miniCookie{
    width: 120px;
    height: 42px;
}
.Shop{
    font-size: 35px !important;
}
.Cost{
    font-size: 25px;
    color: #c44242;
}
.buyBT{
    font-size: 25px !important;
    background: rgba(178, 178, 178, 0.7);
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.53);
    transition: 0.5s;
    border-radius: 4px;
}
.buyBT:hover{
    background: rgba(255, 255, 255, 0.76);
    border: 2px solid rgba(255, 255, 255, 0.65);
}
.BT{
    border: 2px solid #555555;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 30px;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    transition: all 500ms cubic-bezier(0.805, 0.080, 0.410, 0.595)
}
.BT:hover{
    border: 2px solid white;
    background-color: #555555;
    color: white;
}
.upgrades{
    font-size: 35px !important;
}
#MoneyCount{
    text-align: center;
    font-size: 64px;
}
@font-face {
  font-family: 'Purpose';
  src:  url('font.ttf') format('truetype');
}

.animate-left{
    position:relative;
    animation:animateleft 0.4s;
}
@keyframes animateleft{
    from{left:-300px;opacity:0} to{left:0;opacity:1}
}
.animate-right{
    position:relative;
    animation:animateright 0.4s;
}
@keyframes animateright{
    from{right:-300px;opacity:0} to{left:0;opacity:1}
}